/**********
Reset
primary-light-0:#7bbff0;
primary: #2980b9;
primary-dark-0: #1a4d6f;
primary-dark-1: #032e4d;
primary-dark-2: #031e31;
black: #535353;
grey: #dedede;
green-light-0:#55efc4;
green: #29787c;
**********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* debug 技巧 */
    /* border: 1px solid #ccc; */
}

body {
    color: #535353;
    font-family: 'Lato', Helvetica, sans-serif;
}

/******
Utility
*******/
.pt-90 {
    padding-top: 90px;
}

.pb-90 {
    padding-bottom: 90px;
}

.mb-30 {
    margin-bottom: 30px;
}

/******
Layout
*******/

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 960px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

.h2-container {
    text-align: center;

    /* 也可以使用flex
    display:flex;
    justify-content: center;
    */
}

h2 {
    font-weight: 700;
    font-size: 32px;
    display: inline-block;
    position: relative;
}

h2::before {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    background-color: red;
    position: absolute;
    bottom: -5px;
}

/******
nav Menu
*******/
.nav-logo {
    width: 130px;
    display: block;
    float: left;
}

.nav-list {
    float: right;
}

.nav-list li {
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 16px;
}

.nav-list li:last-of-type {
    margin-right: 0;
}

/******
header
*******/

header {
    background: url(../img/jumbotron.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    padding: 20px;
    position: relative;
}

.header-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    position: absolute;
    padding: 20px;
    margin: 0 0 10px 0;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.header-h1 {
    color: #fff;
    margin: 0 0 10px 0;
    font-size: 42px;
    font-weight: 300;

}

.subtitle {
    color: #fff;
    margin-top: 10px;
    font-style: italic;
    text-transform: capitalize;

}

/******
About
*******/