/**********
Reset
primary-light-0:#7bbff0;
primary: #2980b9;
primary-dark-0: #1a4d6f;
primary-dark-1: #032e4d;
primary-dark-2: #031e31;
black: #535353;
grey: #dedede;
green-light-0:#55efc4;
green: #29787c;
**********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* debug 技巧 */
  /* border: 1px solid #ccc; */
}

body {
  color: #535353;
  font-family: "Lato", Helvetica;
}

/**********  
Utilitys 
*********/
.pt-20 {
  padding-top: 20px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-90 {
  padding-bottom: 90px;
}



.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

/**********  
Layout 
*********/
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* .clearfix {
    clear:both;
} */
.container {
  width: 960px;
  margin: 0 auto;
}

[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

[class^="col-"]:not:last-child {
  margin-right: 30px;
}

.col-md-4 {
  width: calc((100% - 2 * 30px)/3);
}

.col-md-3 {
  width: calc((100% - 3 * 30px)/4);
}

.col-md-6 {
  width: calc((100% - 1 * 30px)/2);
  /* border: 1px solid red; */
}

/**********  
HTML Elements
*********/

a {
  text-decoration: none;
  color: #535353;
}

.h2-container {
  display: flex;
  justify-content: center;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  position: relative;
  display: inline-block;
}

h2::before {
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  background: #2980b9;
  position: absolute;
  bottom: -10px;
}

.btn {
  border-radius: 5px;
  padding: 15px 30px;
  display: inline-block;
  /* 全大寫 */
  text-transform: uppercase;
}

.btn-outline {
  border: 2px solid #2980b9;
  color: #2980b9;
  box-shadow: 0 0 3px 0;
  transition: all 0.5s;
}

.btn-outline:hover {
  border: 2px solid #7bbff0;
  color: #7bbff0;
}

.btn-full {
  background-color: #2980b9;
  color: #ffffff;
}

.btn-full:hover {
  background-color: #1a4d6f;
  color: #ffffff;
  transition: all 0.5s;
  box-shadow: 0 0 3px 0;
}

.img-full {
  width: 100%;
}

/********* 
NAV 選單
*********/
.nav-logo {
  display: block;
  width: 130px;
  float: left;
}

.nav-list {
  list-style: none;
  float: right;
}

.nav-list li {
  display: inline-block;
  margin-right: 16px;
  /* 這個方式也可以padding */
  /* padding-top: 20px; */
  margin-top: 20px;
}

/*把選單羧後面空白拿掉,使用選擇器方式*/
.nav-list li:last-of-type {
  margin-right: 0;
}

/********* 
header 
*********/

header {
  background: url(../img/jumbotron.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 750px;
  position: relative;
}

.header-container {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 20px;
  display: inline-block;
  position: absolute;
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.header-h1 {
  font-weight: 300;
  font-size: 42px;
  margin: 0 0 10px 0;
}

.subtilte {
  /* margin-bottom: 20px; */
  color: #dedede;
  font-style: italic;
  margin-top: 10px;
  text-transform: capitalize;
}

/********* 
about
*********/

.about-text {
  line-height: 1.8;
  margin-right: auto;
  margin-left: auto;

  width: 80%;
}

/********* 
Rooms
*********/
.hotel-rooms {
  width: 100%;
}

.hotel-roomlist {
  list-style: none;
  width: 25%;
  float: left;
  height: 200px;
  overflow: hidden;
}

.hotel-photo {
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.hotel-photo:hover {
  transform: scale(1.1);
}

/********* 
Testimonials
*********/

.testimonials-card {
  padding: 60px 30px 0;
  border-radius: 20px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.testimonials-card-text {
  line-height: 1.8;
  padding-bottom: 60px;
  position: relative;

}

.testimonials-card-text::before,
.testimonials-card-text::after {
  color: #ccc;
  font-size: 60px;
  position: absolute;
}

.testimonials-card-text::before {
  content: "\201C";
  top: -45px;
  left: -10px;
}

.testimonials-card-text::after {
  content: "\201D";
  bottom: 10px;
  right: 0;
}

.testimonials-card-info {
  background: #29787c;
  color: #ffffff;
  margin: 0 -30px;
  padding: 60px 0 30px;
  position: relative;
  right: 0;
}

.testimonials-card-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.testimonials-card-postition {
  color: #55efc4;

}

.testimonials-card-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #7bbff0;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

/********* 
Clients
*********/
.clients {
  background-color: #031e31;

}

.client-block {
  height: 30px;
  background-color: #ccc;
  width: 100%;
}

/********* 
Contact Us
*********/


.google-maps {
  position: relative;
  padding-bottom: 75%;
  /*This is the aspect ratio */
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}


.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 6px 12px;
  border: 1px solid #ccc;
}

textarea.form-input {
  height: 150px;
}

/********* 
footer 
*********/
footer {
  background-color: #032e4d;

}

.footer-list {
  list-style: none;
  color: #FFF;

}

.footer-list li {
  margin-right: 16px;
  display: inline-block;
}

.footer-list li:last-of-type {
  margin-right: 0;

}

.footer-logo {
  margin-top: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.copyright {
  background-color: #031e31;
  color: #7bbff0;
  font-weight: 300;
}

/********* 
scrolltopbtn 
*********/
.scrollTopBtn {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: 30px;
  background-color: #55efc4;
  border-radius: 50%;

  /* flex方式垂直置中 */

  /* display: flex;
  position: flex;
  justify-content: center;
  align-items: center; */

  /* text-align: center;
  vertical-align: middle;
  display: inline-block; */
}

.scrollTopBtn i {

  color: #fff;
  /*讓文字垂直中調整*/
  position: relative;
  top: 50%;
  right: -25%;
  transform: translateY(-50%);


}